.heading-reservation-list {
    display: grid;
    grid-template-rows: 70px 100px;
}

.heading-reservation-list div.blank {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #163370;
}

.heading-reservation-list h1 {
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
    background-color: #163370;
    color: white;
    letter-spacing: 1px;
}

div.results-list {
    display: grid;
    grid-template-columns: auto;
    width: 704px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 20px auto;
}

div.results-list > div {
    display: grid;
    grid-template-columns: 310px auto auto;
    grid-template-rows: 50px 50px 82px 50px;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid #f9f9f9;
    margin: 8px 12px;
    box-shadow: 2px 2px 2px 2px #ddd;
}

div.room-grid:focus {
    outline: 0;
}

.photo {
    grid-area: 1 / 1 / 5 / 2;
}

.photo > img {
    height: 232px;
    /* width: 310px; */
    width: 100%;
    border-radius: 5px 0px 0px 5px;
}

.name {
    grid-area: 1 / 2 / 2 / 4;
    font-weight: bold;
    font-size: 18px;
    font-family: inherit;
    margin: 12px 10px;
}

.type-beds {
    grid-area: 2 / 2 / 3 / 4;
    margin: 0px 10px;
    font-weight: 100;
}

.blank {
    grid-area: 3 / 2 / 4 / 4;
}

.stars-reviews {
    grid-area: 4 / 2 / 5 / 3;
    margin: 0px 10px;
}

.stars-reviews > span {
    display: inline-block;
    margin-bottom: 12px;
}

.stars {
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
}

.reviews {
    font-weight: 100;
}

.cost {
    grid-area: 4 / 3 / 5 / 4;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}

.cost-per-day {
    font-size: 18px;
    margin-right: 5px;
}

* {
    letter-spacing: 1px;
}

@media screen and (max-width: 724px) {

    div.results-list {
        display: grid;
        grid-template-columns: auto;
        width: auto;
        background-color: #f0f0f0;
        border-radius: 5px;
        margin: 20px;
    }
    
    div.results-list > div {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 200px auto auto auto;
        background-color: white;
        border-radius: 5px;
        border: 0.5px solid #f9f9f9;
        margin: 8px 12px;
        box-shadow: 2px 2px 2px 2px #ddd;
    }
    
    .photo {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .photo > img {
        height: 100%;
        width: 100%;
        border-radius: 5px 5px 0px 0px;
    }
    
    .stars-reviews {
        grid-area: 2 / 1 / 3 / 2;
        margin: 5px 10px;
    }

    .stars-reviews > span {
        display: inline-block;
        margin-bottom: -2px;
    }

    .stars {
        font-weight: bold;
        margin-right: 5px;
        margin-left: 5px;
    }

    .reviews {
        font-weight: 100;
    }
    
    .type-beds {
        grid-area: 3 / 1 / 4 / 2;
        margin: 0px 10px;
        font-weight: 100;
    }
    
    .cost {
        grid-area: 4 / 1 / 5 / 2;
        margin-left: 10px;
        margin-bottom: 12px;
        font-weight: bold;
        text-align: left;
    }
    
    .cost-per-day {
        font-size: 18px;
    }

    .name {
        display: none;
    }

    .blank {
        display: none;
    }

}