<div class="heading-edit-profile">
    <div class="blank"></div>
    <h1>Edit your profile from the following sections.</h1>
    <br>
    <div class="edit-profile-container">

        <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
            <mat-tab label="Details">
                <form [formGroup]="checkoutForm" (ngSubmit)="onSubmitDetails(checkoutForm.value)">
                    <br>
                    <!-- Name -->
                    <div>
                        <mat-form-field appearance="fill">
                        
                        <mat-label>Name</mat-label>
                        
                        <input matInput #reg_name type="text" formControlName="name" name="name" required>
                        
                        <mat-error *ngIf="checkoutForm.get('name').invalid">{{getErrorMessageName(reg_name.value?.length)}}</mat-error>
            
                        </mat-form-field>
                    </div>
            
                    <!-- Surname -->
                    <div>
                        <mat-form-field appearance="fill">
                        
                        <mat-label>Surname</mat-label>
                        
                        <input matInput #reg_surname type="text" formControlName="surname" name="surname" required>
            
                        <mat-error *ngIf="checkoutForm.get('surname').invalid">{{getErrorMessageSurname(reg_surname.value?.length)}}</mat-error>
                        
                        </mat-form-field>
                    </div>
            
                    <!-- Email -->
                    <div>
                        <mat-form-field appearance="fill">
                        
                        <mat-label>Email</mat-label>
                        
                        <input matInput type="email" formControlName="email" name="email" required>
            
                        <mat-error *ngIf="checkoutForm.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
                        
                        </mat-form-field>
                    </div>
            
                    <!-- Phone number -->
                    <div>
                        <mat-form-field appearance="fill">
                        
                        <mat-label>Phone number</mat-label>
                        
                        <input matInput type="text" formControlName="phone" name="phone" required>
                        
                        <mat-error *ngIf="checkoutForm.get('phone').invalid">{{getErrorMessagePhone()}}</mat-error>
            
                        </mat-form-field>
                    </div>

                    <!-- Save changes button disabled -->
                    <div class="button not_clickable" *ngIf="!allDetailsValid()">
                        <button type="submit" disabled>Save changes</button>
                    </div>

                    <!-- Save changes button enabled -->
                    <div class="button" *ngIf="allDetailsValid()">
                        <button type="submit">Save changes</button>
                    </div>

                </form>
            </mat-tab>
            <mat-tab label="Photo profile">
                <div class="mat-icon-account-circle">
                    <mat-icon *ngIf="profileImage == null" class="img-no-photo">account_circle</mat-icon>
                </div>
                <div class="photo-profile">
                    <br>
                    <img *ngIf="profileImage != null" src="{{profileImage}}">
                    <br>
                    <input #fileInput type="file" accept="image/*" name="file">
                    <div class="button">
                        <button type="button" (click)="fileInput.click()">Choose image</button>
                    </div>
                    <br>
                    <div class="button">
                        <button type="button" (click)="onUpload()">Upload</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Password">
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPasswords(passwordForm.value)">

                    <br>
                    <!-- Old Password -->
                    <div>
                        <mat-form-field appearance="fill">
                        
                        <mat-label>Old password</mat-label>
                        
                        <input matInput #old_pass minlength="8" [type]="hide_old_pass ? 'password' : 'text'" formControlName="old_password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_old_pass" name="old_password" required>
                        
                        <!-- type="button" is needed because default was type="submit" and when user clicks it for second time it was sending the form with the data -->
                        <button type="button" class="mat-i" mat-icon-button matSuffix (click)="hide_old_pass = !hide_old_pass" >
                            <mat-icon>{{hide_old_pass ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
            
                        <mat-error *ngIf="passwordForm.get('old_password').invalid">{{getErrorMessagePassword(old_pass.value?.length)}}</mat-error>
                        
                        </mat-form-field>
                    </div>

                    <!-- New Password -->
                    <div>
                        <mat-form-field appearance="fill">
                        
                        <mat-label>New password</mat-label>
                        
                        <input matInput #pass minlength="8" [type]="hide_pass ? 'password' : 'text'" formControlName="password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_pass" name="password" required>
                        
                        <!-- type="button" is needed because default was type="submit" and when user clicks it for second time it was sending the form with the data -->
                        <button type="button" class="mat-i" mat-icon-button matSuffix (click)="hide_pass = !hide_pass" >
                            <mat-icon>{{hide_pass ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
            
                        <mat-error *ngIf="passwordForm.get('password').invalid">{{getErrorMessagePassword(pass.value?.length)}}</mat-error>
                        
                        </mat-form-field>
                    </div>
            
                    <!-- Confirm password -->
                    <div>
                        <mat-form-field appearance="fill">
                            
                            <mat-label>Confirm Password</mat-label>
                            
                            <input matInput #reg_conf_pass [type]="hide_conf_pass ? 'password' : 'text'" formControlName="confirm_password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_conf_pass" [errorStateMatcher]="errorMatcher" required>
                            
                            <!-- type="button" is needed because default was type="submit" and when user clicks it for second time it was sending the form with the data -->
                            <button type="button" class="mat-i" mat-icon-button matSuffix (click)="hide_conf_pass = !hide_conf_pass" >
                            <mat-icon>{{hide_conf_pass ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            
                            <mat-error *ngIf="passwordForm.hasError('mismatchPasswords')">{{getErrorMessagePasswordMatching()}}</mat-error>
                        
                        </mat-form-field>
                    </div>
            
                    <!-- Save changes button disabled -->
                    <div class="button not_clickable" *ngIf="!passwordsValid() || passwordForm.hasError('mismatchPasswords')">
                        <button type="submit" disabled>Save changes</button>
                    </div>
            
                    <!-- Save changes button enabled -->
                    <div class="button" *ngIf="passwordsValid() && !passwordForm.hasError('mismatchPasswords')">
                        <button type="submit">Save changes</button>
                    </div>
    
                </form>
            </mat-tab>
        </mat-tab-group>

    </div>

</div>